[submodule "exlibs/ExoPlayer"]
	path = exlibs/ExoPlayer
	url = https://github.com/google/ExoPlayer.git
	branch = release-v2
[submodule "exlibs/InteractivePlayerView"]
	path = exlibs/InteractivePlayerView
	url = https://github.com/iammert/InteractivePlayerView.git
	branch = master
[submodule "exlibs/cling"]
	path = exlibs/cling
	url = https://github.com/4thline/cling.git
	branch = master
